﻿<%@ Page Title="" Language="C#" MasterPageFile="~/shop.master" AutoEventWireup="true" CodeFile="shop_view _profile.aspx.cs" Inherits="shop_view__profile" %>

<%--<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>--%>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <table class="style1">
        <tr>
            <td style="color: #000000; background-color: #FFFFFF">
                NAME</td>
            <td>
                <asp:Label ID="lbl_name" runat="server" Text="Label"></asp:Label>
            </td>
        </tr>
        <tr>
            <td style="color: #000000; background-color: #FFFFFF">
                SHOP TYPE</td>
            <td>
                <asp:Label ID="lbl_shoptype" runat="server" Text="Label"></asp:Label>
            </td>
        </tr>
        <tr>
            <td style="color: #000000; background-color: #FFFFFF">
                BUILDING NUMBER/NAME</td>
            <td>
                <asp:Label ID="lbl_building" runat="server" Text="Label"></asp:Label>
            </td>
        </tr>
        <tr>
            <td style="color: #000000; background-color: #FFFFFF">
                PLACE</td>
            <td>
                <asp:TextBox ID="txt_place" runat="server"></asp:TextBox>
            </td>
        </tr>
        <tr>
            <td style="color: #000000; background-color: #FFFFFF">
                PHONE NUMBER</td>
            <td>
                <asp:Label ID="lbl_phonenumber" runat="server" Text="Label"></asp:Label>
            </td>
        </tr>
        <tr>
            <td style="color: #000000; background-color: #FFFFFF">
                WEBSITE</td>
            <td>
                <asp:Label ID="lbl_website" runat="server" Text="Label"></asp:Label>
            </td>
        </tr>
        <tr>
            <td style="color: #000000; background-color: #FFFFFF">
                EMAIL ID</td>
            <td>
                <asp:Label ID="lbl_emailid" runat="server" Text="Label"></asp:Label>
            </td>
        </tr>
        <tr>
            <td>
                &nbsp;</td>
            <td>
                &nbsp;</td>
        </tr>
        <tr>
            <td>
                &nbsp;</td>
            <td>
                <asp:Button ID="btn_edit" runat="server" Text="EDIT" onclick="btn_edit_Click" />
            </td>
        </tr>
    </table>
</asp:Content>

