﻿<%@ Page Title="" Language="C#" MasterPageFile="~/shop.master" AutoEventWireup="true" CodeFile="shop_status_updation.aspx.cs" Inherits="shop_status_updation" %>

<%--<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>--%>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <asp:MultiView ID="MultiView1" runat="server">
        <br />
        <asp:View ID="View1" runat="server">
            <asp:DataGrid ID="DataGrid1" runat="server" AutoGenerateColumns="False" 
                onitemcommand="DataGrid1_ItemCommand" BackColor="White" BorderColor="White" BorderStyle="Ridge" BorderWidth="2px" 
                            GridLines="None" style="margin-top: 0px" Width="651px">
                <Columns>
                    <asp:BoundColumn DataField="lastdate" HeaderText="Date"></asp:BoundColumn>
                    <%--<asp:BoundColumn DataField="status" HeaderText="Status"></asp:BoundColumn>--%>
                    <asp:BoundColumn DataField="status" HeaderText="Status"></asp:BoundColumn>
                    <asp:ButtonColumn CommandName="edit" Text="Edit"></asp:ButtonColumn>
                    <asp:ButtonColumn CommandName="delete" Text="Delete"></asp:ButtonColumn>
                </Columns>
                <FooterStyle BackColor="#C6C3C6" ForeColor="Black" />
                <HeaderStyle BackColor="#4A3C8C" Font-Bold="True" ForeColor="#E7E7FF" />
                <ItemStyle BackColor="#DEDFDE" ForeColor="Black" />
                <PagerStyle BackColor="#C6C3C6" ForeColor="Black" HorizontalAlign="Right" />
                <SelectedItemStyle BackColor="#9471DE" Font-Bold="True" ForeColor="White" />
            </asp:DataGrid>
            <br />
            <asp:Button ID="Button1" runat="server" onclick="Button1_Click" 
                Text="New Status" />
        </asp:View>
        <br />
        <asp:View ID="View2" runat="server">
            <table class="style1">
                <tr>
                    <td style="color: #000000; background-color: #FFFFFF">
                        STATUS</td>
                    <td colspan="3">
                        <asp:TextBox ID="txt_status" runat="server"></asp:TextBox>
                    </td>
                </tr>
                <tr>
                    <td style="color: #000000; background-color: #FFFFFF">
                        LAST DATE</td>
                    <td>
                        <asp:DropDownList ID="DropDownList1" runat="server">
                        </asp:DropDownList>
                        <asp:DropDownList ID="DropDownList2" runat="server">
                        </asp:DropDownList>
                        <asp:DropDownList ID="DropDownList3" runat="server">
                        </asp:DropDownList>
                    </td>
                    <td>
                        &nbsp;</td>
                    <td>
                        &nbsp;</td>
                </tr>
                <tr>
                    <td>
                        &nbsp;</td>
                    <td colspan="3">
                        &nbsp;</td>
                </tr>
                <tr>
                    <td>
                        &nbsp;</td>
                    <td colspan="3">
                        <asp:Button ID="btn_update" runat="server" onclick="btn_update_Click" 
                            Text="UPDATE" />
                    </td>
                </tr>
            </table>
        </asp:View>
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
    </asp:MultiView>
</asp:Content>

